.curse-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90%;
}

.careers{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-control{
	text-align: right;
}

.grid-priorities{
	display: grid;
	grid-template-columns: 50% 50%;
	width: 95%;
}

.configuration-priorities, .selection-priorities{
	width: 100%;
	padding: 5px;
}

.accordion-button{
	font-size: 0.9rem;
}

.accordion-body .lead{
	font-size: 1em;
}

.accordion-body .lead input{
	width: 3em;
}

.accordion-button i {
	color: blueviolet;
	margin-right: 0.5em ;
}

button.accordion-button{
	align-items: center;
}

.accordion-body .input-group .input-group-text, .accordion-body .input-group .form-control{
	font-size: 0.8em;
}

.save {
	color: skyblue;
	animation: move-image 4s infinite;
}

.save:hover{
	color: greenyellow;
	transform: scale(1.5);
}

@keyframes move-image {
	0% {
		transform: scale(1.1);
	}

	50% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1.1);
	}
}

.curse-tag{
	padding: 5px;
	margin: 5px;
	background-color: skyblue;
	border-radius: 1em;
	font-size: 1em;
}

.curse-tag i:hover{
	transform: scale(1.1);
	cursor: pointer;
}

#priority-curses{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
	height: 75px;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 1em;
}