<div class="loader-div">
	<p class="h2">Carga de datos</p>
	<div class="grid-loader">
		<div class="mb-3">
			<p class="h4">Inserta mediante archivo JSON</p>
			<input class="form-control" type="file" id="formFile">
			<small class="text-muted">**A la derecha vez ejemplos de archivos json</small>
			<div class="">
				<p class="h4">Inserta mediante formulario</p>
				<input (change)="onRadioChangeInsert($event)" value="materia" type="radio" class="btn-check"
					name="options-insert" id="optionInsertCurse" autocomplete="off">
				<label class="btn btn-primary" for="optionInsertCurse">Materias</label>
				<input (change)="onRadioChangeInsert($event)" value="profesor" type="radio" class="btn-check"
					name="options-insert" id="optionInsertTeacher" autocomplete="off" checked>
				<label class="btn btn-primary" for="optionInsertTeacher">Profesores</label>
				<input (change)="onRadioChangeInsert($event)" value="salon" type="radio" class="btn-check"
					name="options-insert" id="optionInsertSalon" autocomplete="off">
				<label class="btn btn-primary" for="optionInsertSalon">Salones</label>
			</div>
			<div *ngIf="insert=='materia'" class="insert-curse">
				<div class="input-group mb-3">
					<span class="input-group-text" id="name-curse">Curso</span>
					<input type="text" class="form-control" placeholder="Nombre del curso" aria-label="Nombre del curso"
						aria-describedby="name-curse">
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="code-curse">Codigo</span>
					<input type="text" class="form-control" placeholder="Codigo del curso" aria-label="Codigo del curso"
						aria-describedby="code-curse">
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="abbr-curse">Abreviatura</span>
					<input type="text" class="form-control" placeholder="Abreviatura del curso"
						aria-label="Abreviatura del curso" aria-describedby="abbr-curse">
				</div>
				<div class="input-group mb-3">
					<label class="input-group-text" for="area-curse">Area</label>
					<select class="form-select" id="area-curse">
						<option selected>Selecciona...</option>
						<option value="1">Ingenieria en Sistemas</option>
						<option value="2">Ingenieria Civil</option>
						<option value="3">Ingenieria Mécanica</option>
						<option value="4">Ingenieria Industrial</option>
						<option value="5">Ingenieria Mécanica Industrial</option>
					</select>
				</div>
				<div class="input-group mb-3">
					<label class="input-group-text" for="semester-curse">Semestre</label>
					<select class="form-select" id="semester-curse">
						<option selected>Selecciona...</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
					</select>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="assign-curse">Asignados</span>
					<input type="number" class="form-control" placeholder="Asignados al curso"
						aria-label="Asignados al curso" aria-describedby="assign-curse">
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Ingresa el id del profesor"
						aria-label="Id del profesor" aria-describedby="teacher-curse">
					<button class="btn btn-secondary" type="button" id="teacher-curse">🔍</button>
				</div>
				<div class="d-grid">
					<button class="btn btn-primary" type="button">INSERTAR CURSO</button>
				</div>
			</div>

			<div *ngIf="insert=='profesor'" class="insert-curse">
				<div class="input-group mb-3">
					<span class="input-group-text" id="name-teacher">Profesor</span>
					<input type="text" class="form-control" placeholder="Nombre del profesor"
						aria-label="Nombre del profesor" aria-describedby="name-teacher">
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="code-teacher">Codigo</span>
					<input type="text" class="form-control" placeholder="Codigo del profesor"
						aria-label="Codigo del profesor" aria-describedby="code-teacher">
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="alter-teacher">Alter</span>
					<input type="text" class="form-control" placeholder="Alter del profesor"
						aria-label="Alter del profesor" aria-describedby="alter-teacher">
				</div>
				<small class="text-muted" style="color: grey !important;">**La hora de entrada y salida debe estar en formato militar 0000 -
					2400</small>
				<div class="input-group mb-3">
					<span class="input-group-text" id="start-teacher">Entrada</span>
					<input type="number" class="form-control" placeholder="Entrada contratación"
						aria-label="Entrada contratación" aria-describedby="start-teacher">
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="end-teacher">Salida</span>
					<input type="number" class="form-control" placeholder="Salida contratación"
						aria-label="Salida contratación" aria-describedby="end-teacher">
				</div>

				<div class="input-group mb-3">
					<label class="input-group-text" for="area-profesor">Area</label>
					<select class="form-select" id="area-profesor">
						<option selected>Selecciona...</option>
						<option value="1">Ingenieria en Sistemas</option>
						<option value="2">Ingenieria Civil</option>
						<option value="3">Ingenieria Mécanica</option>
						<option value="4">Ingenieria Industrial</option>
						<option value="5">Ingenieria Mécanica Industrial</option>
					</select>
				</div>
				<div class="d-grid">
					<button class="btn btn-primary" type="button">INSERTAR PROFESOR</button>
				</div>
			</div>

			<div *ngIf="insert=='salon'" class="insert-curse">
				<div class="input-group mb-3">
					<span class="input-group-text" id="name-salon">Salon</span>
					<input type="text" class="form-control" placeholder="Nombre del salon"
						aria-label="Nombre del salon" aria-describedby="name-salon">
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="code-salon">Codigo</span>
					<input type="text" class="form-control" placeholder="Codigo del salon"
						aria-label="Codigo del salon" aria-describedby="code-salon">
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="capacity-salon">Capacidad</span>
					<input type="number" class="form-control" placeholder="Número de escritorios del salon"
						aria-label="Número de escritorios del salon" aria-describedby="capacity-salon">
				</div>
				<div class="d-grid">
					<button class="btn btn-primary" type="button">INSERTAR SALON</button>
				</div>
			</div>
		</div>
		<div class="example-loader">
			<div class="bd-example m-0 border-0 selector-example">
				<input (change)="onRadioChange($event)" value="materia" type="radio" class="btn-check"
					name="options-base" id="option5" autocomplete="off" checked>
				<label class="btn" for="option5">Materias</label>
				<input (change)="onRadioChange($event)" value="profesor" type="radio" class="btn-check"
					name="options-base" id="option6" autocomplete="off">
				<label class="btn" for="option6">Profesores</label>
				<input (change)="onRadioChange($event)" value="salon" type="radio" class="btn-check" name="options-base"
					id="option8" autocomplete="off">
				<label class="btn" for="option8">Salones</label>
			</div>
			<div class="code-editor">
				<pre *ngIf="exampleShowed=='materia'" tabindex="0" class="chroma">
					<span>  1 |	<span class="group-json">[</span></span>
					<span>  2 |		<span class='brace-json'>{{"{"}}</span></span>
					<span>  3 |			<span class="id-json">"curso"</span>: "Social Humanistica 2",</span>
					<span>  4 |			<span class="id-json">"codigo"</span>:"029",</span>
					<span>  5 |			<span class="id-json">"abreviatura"</span>: "Humanistica 2",</span>
					<span>  6 |			<span class="id-json">"area"</span>: "Area Comun",</span>
					<span>  7 |			<span class="id-json">"semestre"</span>: <span class="number-json">2</span>,</span>
					<span>  8 |			<span class="id-json">"asignados"</span>: <span class="number-json">50</span>,</span>
					<span>  9 |			<span class="id-json">"catedraticos"</span>: <span class="group-json">[</span></span>
					<span> 10 |				<span class="brace-json">{{"{"}}</span></span>
					<span> 11 |					<span class="id-json">"nombre"</span>: "Aparicio"</span>
					<span> 12 |				<span class="brace-json">{{"}"}}</span></span>
					<span> 13 |			<span class="group-json">]</span></span>
					<span> 14 |		<span class="brace-json">{{"}"}}</span></span>
					<span> 15 |	<span class="group-json">]</span></span>
				</pre>
				<pre *ngIf="exampleShowed=='profesor'" tabindex="0" class="chroma">
					<span>  1 |	<span class="group-json">[</span></span>
					<span>  2 |		<span class='brace-json'>{{"{"}}</span></span>
					<span>  3 |			<span class="id-json">"id"</span>: <span class="number-json">1</span>,</span>
					<span>  4 |			<span class="id-json">"nombre"</span>:"Jose Moises Granados",</span>
					<span>  5 |			<span class="id-json">"alter"</span>: "Moises",</span>
					<span>  6 |			<span class="id-json">"entrada"</span>: <span class="number-json">1300</span>,</span>
					<span>  7 |			<span class="id-json">"salida"</span>: <span class="number-json">2000</span>,</span>
					<span>  8 |			<span class="id-json">"areas"</span>: <span class="group-json">[</span></span>
					<span>  9 |				<span class="brace-json">{{"{"}}</span></span>
					<span> 10 |					<span class="id-json">"nombre"</span>: "Ingenieria en Sistemas"</span>
					<span> 11 |				<span class="brace-json">{{"}"}}</span></span>
					<span> 12 |			<span class="group-json">]</span></span>
					<span> 13 |		<span class="brace-json">{{"}"}}</span></span>
					<span> 14 |	<span class="group-json">]</span></span>
				</pre>
				<pre *ngIf="exampleShowed=='salon'" tabindex="0" class="chroma">
					<span>  1 |	<span class="group-json">[</span></span>
					<span>  2 |		<span class='brace-json'>{{"{"}}</span></span>
					<span>  3 |			<span class="id-json">"id"</span>: <span class="number-json">1</span>,</span>
					<span>  4 |			<span class="id-json">"nombre"</span>:"Aula 1",</span>
					<span>  5 |			<span class="id-json">"capacidad"</span>:  <span class="number-json">50</span></span>
					<span>  6 |		<span class="brace-json">{{"}"}}</span></span>
					<span>  7 |	<span class="group-json">]</span></span>
				</pre>
			</div>
		</div>
	</div>
</div>