.loader-div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90%;
	width: 95%;
}

.grid-loader{
	display: grid;
	grid-template-columns: 50% 50%;
	width: 95%;
	align-items: center;
	column-gap: 0.5em;
}

.selector-example{
	background-color: #212529;
	border-radius: 0.5em;
}

.example-loader{
	background-color: #1b1f22;
	border-radius: 0.5em;
	height: 95%;
}

label.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
	color: navajowhite;
}

.btn-check+.btn:hover{
	color: yellow;
}

.code-editor{
	background-color: #1b1f22;
	border: whitesmoke;
	height: fit-content;
	color: white;
}

pre{
	display:inline-grid;
	font-size: 1em;
}

.id-json{
	color: skyblue;
	font-style: italic;
}

.brace-json{
	color: skyblue;
}

.group-json{
	color: orange;
}

.number-json{
	color: blue;
}

.insert-curse{
	background-color: #002f5f;
	padding: 1em;
}

.toast:not(.show){
	display: block !important;
}