<div class="carousel-div">
	<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
				aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
				aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
				aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active" data-bs-interval="5000">
				<img src="../../assets/images/carousel1.jpg" class="d-block" width="95%" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<h5>PRIMEROS</h5>
					<p>En la educación superior de toda la región centroamericana y hasta Patagonica</p>
				</div>
			</div>
			<div class="carousel-item" data-bs-interval="5000">
				<img src="../../assets/images/carousel2.jpg" class="d-block" width="95%" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<h5>INNOVADORES</h5>
					<p>Nuestra meta es siempre apostarle al futuro, a lo que se avecina a la vuelta de la esquina <code>las divinas</code> </p>
				</div>
			</div>
			<div class="carousel-item" data-bs-interval="5000">
				<img src="../../assets/images/carousel3.jpg" class="d-block" width="95%" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<h5>GENORARIO</h5>
					<p>Por ser los primeros, logramos el primer generador de horarios 100% exacto en base a las prioridades más importantes de la vida estudiantil</p>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
			data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
			data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>