@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Poppins:wght@200&display=swap');

* {
	font-family: "Inter", -apple-system, "Nunito", BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.separator{
	color: grey;
	font-size: 0.5em;
}

.time{
	color: whitesmoke;
	font-size: 1.25vw;
}

.schedule-column {
	background-color: white;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border: 1px skyblue solid;
}

.schedule-part {
	width: 100%;
	height: 50px;
	background-color: grey;
	border: 1px rgb(49, 0, 117) solid;
}

.period {
	background-color: #118AB2;
	color: white;
	display: flex;
	justify-content: space-evenly;
	justify-items: center;
	align-items: center;
	font-weight: bold;
	flex-direction: row;
	flex-wrap: wrap;
}

.curse {
	background-color: lightblue;
}

.generate-schedule {
	display: grid;
	grid-template-columns: 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3% 4.3%;
	max-height: 87%;
	overflow-y: auto;
}

.warning {
	background-color: #FFD166;
}

#schedule-table{
	overflow-x: scroll;
	overflow-y: scroll;
	max-height: 80%;
	width: 96%;
	margin: auto;
}

.table-bordered>:not(caption)>*>*{
	border-width: 3px 3px !important;
}

thead{
	position: sticky;
	top: 0;
	z-index: 1000;
}

.label-period{
	position: sticky;
	left: 0;
}

.break-div{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.curse-div{
	display: grid;
	grid-template-columns: 67% 33%;
}

.teacher{
	font-size: 0.6em;
}
.students{
	font-size: 1em;
}

.code{
	font-size: 0.8em;
}

.name{
	font-weight: bold;
}

.status{
	font-size: 1em;
}

.data-assign{
	display: flex;
	flex-direction: column;
}

.curse-div span{
	margin: 3px;
}

th{
	text-align: center;
	vertical-align: middle;
}

.sistemas{
	background-color: #ff9900;
}

.civil{
	background-color: #ff0000;
}

.check{
	background-color: #C1E1C1;
}

.warning{
	background-color: #FDFD96;
}

.error{
	background-color: #FF6961;
}

.period-cell, .salon-cell{
	height: 110px;
	text-align: center;
	vertical-align: middle;
}

.break{
	font-size: 3em;
	font-weight: bold;
}

.period-cell{
	min-width: 100px;
}

.salon-cell{
	min-width: 200px;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px purple;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: navajowhite;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: red;
}

a{
	text-decoration: none;
}

a:hover, .status:hover{
	font-size: 1.2em;
	cursor: pointer;
}

.welcome-schedule{
	color: navajowhite;
	text-align: center;
}

.text-muted{
	color: #8d969e!important;
}

.table{
	margin: 0 !important;
}