<div class="welcome-schedule" style="padding-top: 1em; padding-bottom: 0.5em;">
	<p class="h4">Horario Generado <small class="text-muted">Prioridades <span title="Por capacidad de salones">🫂</span>
		<span title="Por contratación de profesores">👨‍🏫</span><span title="Por cursos disponibles">📖</span></small></p>
</div>
<div id="schedule-table">
	<table class="table table-bordered border-primary">
		<thead>
			<tr class="table-light">
				<th class="label-period" scope="col">Periodo / Salon</th>
				<th scope="col" *ngFor="let salon of salons; let i = index">{{salon.nombre}}</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let period of periods; let i = index">
				<tr id="period{{i}}" *ngIf="i!=6">
					<td scope="row" class="period-cell table-dark label-period">{{period.start}} - {{period.end}}</td>
					<td class="salon-cell table-primary" *ngFor="let salon of salons; let s = index" id="salon{{s+1}}">
						<div class="curse-div">
							<div class="data-assign">
								<span class="code sistemas">2808 <a href="#" title="Ver datos del curso">👁️</a></span>
								<span class="name">Sistemas Aplicados 2</span>
							</div>
							<div class="data-assign">
								<span class="students">🎓50</span>
								<span class="teacher">👨‍🏫profesor</span>
								<span class="status" title="Ver datos del curso">⚠️</span>
							</div>
						</div>
					</td>
				</tr>
				<tr id="period{{i}}" *ngIf="i==6">
					<td scope="row" class="period-cell table-dark">{{period.start}} - {{period.end}}</td>
					<td class="salon-cell table-dark" colspan="22">
						<div class="break-div">
							<span class="break">R</span>
							<span class="break">E</span>
							<span class="break">C</span>
							<span class="break">E</span>
							<span class="break">S</span>
							<span class="break">O</span>
						</div>
					</td>
				</tr>
			</ng-container>
		</tbody>
	</table>
</div>