<ng-container *ngIf="load">
	<button id="showWarnings" class="btn btn-dark" (click)="showWarnings = !showWarnings"><i
			class="fa fa-triangle-exclamation"></i> Advertencias</button>
	<div class="warnings-div" *ngIf="showWarnings">
		<span><i class="fa fa-house-circle-exclamation"></i> Salon de área diferente del curso</span>
		<span><i class="fa fa-user-slash"></i> Profesor con traslape de periodos</span>
		<span><i class="fa fa-clone"></i> Traslape de cursos de la misma area y semestre</span>
		<span><i class="fa fa-burst"></i> Choque de cursos en un mismo salon</span>
		<span><i class="fa fa-users-slash"></i> Se supero la capacidad del salon</span>
	</div>
	<div class="welcome-schedule" style="padding-top: 1em; padding-bottom: 0.5em;">
		<ng-container *ngIf="dataSchedule">
			<p class="h4">{{name_schedule}}</p>
		</ng-container>
		<ng-container *ngIf="!dataSchedule">
			<p class="h4">Horario Generado Aleatoriamente</p>
		</ng-container>
	</div>
	<div class="parameters-used" *ngIf="dataSchedule==true">
		<p class="info">Parametros usados</p>
		<span *ngFor="let parameter of parameters_used;"><i class="parameter-icon"
				title="{{description_parameters[parameter.id_parameter-3].description}}"
				class="{{description_parameters[parameter.id_parameter-3].class}}"></i> {{parameter.factor}}</span>
		<p class="info">Información adicional</p>
		<span title="Eficiencia"><i class="parameter-icon fas fa-bullseye"></i> {{efficienty}}</span>
		<span title="Fecha"><i class="parameter-icon fa-calendar-days"></i> {{date_schedule}}</span>
		<span title="Fecha"><i class="parameter-icon fa-key"></i> {{id_schedule}}</span>
	</div>
	<div class="parameters-used" *ngIf="dataSchedule==false">
		<p class="info">Parametros usados</p>
		<ng-container *ngFor="let parameter of parameters_used; let i = index;">
			<span *ngIf="i>=2">
					<i class="parameter-icon" title="{{description_parameters[parameter.id_parameter-3].description}}"
						class="{{description_parameters[parameter.id_parameter-3].class}}"></i> {{parameter.factor}}
			</span>
		</ng-container>
		<p class="info">Información adicional</p>
		<span title="Eficiencia"><i class="parameter-icon fas fa-bullseye"></i> {{efficienty}}</span>
	</div>
	<div id="schedule-table">
		<table class="table table-bordered border-primary">
			<thead>
				<tr class="table-light">
					<th class="label-period" scope="col">Periodo / Salon</th>
					<th scope="col" *ngFor="let salon of salons; let i = index">{{salon.name_salon}}</th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let period of periods; let i = index">
					<tr id="period{{i}}">
						<td scope="row" class="period-cell table-dark label-period">{{period.start}} - {{period.end}}
						</td>
						<ng-container *ngFor="let salon of salons; let s = index">
							<ng-container *ngIf="salon.assign[i]!=null">
								<td [class.civil]="salon.assign[i].curse.area_curse == 3"
									[class.sistemas]="salon.assign[i].curse.area_curse == 2"
									[class.comun]="salon.assign[i].curse.area_curse == 1"
									class="salon-cell table-primary" id="p{{period.id}}_s{{salon.id_salon}}">
									<div class="curse-div">
										<div class="data-assign">
											<span class="code">{{salon.assign[i].curse.code_curse}}
											</span>
											<span class="name">{{salon.assign[i].curse.abbr_curse}}</span>
											<span class="code">{{salon.assign[i].curse.semester_curse}}</span>
										</div>
										<div class="data-assign">
											<span class="students"><i
													class="fas fa-graduation-cap"></i>{{salon.assign[i].curse.assigned_students}}</span>
											<span class="teacher"><i
													class="fas fa-chalkboard-teacher"></i>{{salon.assign[i].teacher.alter_teacher}}</span>
											<span class="status warning-icon" *ngIf="salon.assign[i].status == 6"
												title="{{salon.assign[i].message}}"><i
													class="fas fa-users-slash"></i></span>
											<span class="status warning-icon" *ngIf="salon.assign[i].status == 3"
												title="{{salon.assign[i].message}}"><i
													class="fas fa-user-slash"></i></span>
											<span class="status error-icon" *ngIf="salon.assign[i].status == 5"
												title="{{salon.assign[i].message}}"><i class="fa fa-burst"></i></span>
											<span class="status" [class.warning-icon]="salon.assign[i].status==4"
												*ngIf="salon.assign[i].status == 4"
												title="{{salon.assign[i].message}}"><i class="fa fa-clone"></i></span>
											<span class="status" [class.warning-icon]="salon.assign[i].status==2"
												*ngIf="salon.assign[i].status == 2"
												title="{{salon.assign[i].message}}"><i
													class="fa fa-house-circle-exclamation"></i></span>
										</div>
									</div>
								</td>
							</ng-container>

							<ng-container *ngIf="salon.assign[i]==null">
								<td class="salon-cell table-primary available" id="p{{period.id}}_s{{salon.id_salon}}">
								</td>
							</ng-container>
						</ng-container>
					</tr>
				</ng-container>
			</tbody>
		</table>
	</div>
</ng-container>
<ng-container *ngIf="!load">
	<div class="container-load">
		<div class="loading loading01">
			<span>G</span>
			<span>E</span>
			<span>N</span>
			<span>E</span>
			<span>R</span>
			<span>A</span>
			<span>N</span>
			<span>D</span>
			<span>O</span>
		</div>
	</div>
</ng-container>